<!DOCTYPE html>
<html>
    <head>
        <title>Liste de courses</title>
        <meta charset="UTF-8">
        <link rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.16.1/css/semantic.min.css'>
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/icon.min.css'>
        
        <link rel="stylesheet" type="text/css" href="web/css/styles.css" />
    </head>
    <body>
        <div id="app">
            <div class="container">
                <h1>Liste de courses</h1>
                <div class="ui labeled input">
                    <div class="ui label">
                        Budget :
                    </div>
                    <input name="budget" v-model="budget" placeholder="Budget">
                </div>
                <div class="container-add-product">
                <div class="ui input">
                    <input name="produit" placeholder="Produit" v-model="nameProduct" @input="updateListAuto()" @keyup.enter="addProduct()"/>
                </div>
                <button @click="addProduct()" class="ui primary animated button" :class="{disabled: this.nameProduct == ''}" :disabled="nameProduct === ''">
                    <div class="visible content">Valider</div>
                    <div class="hidden content">
                        <i class="right arrow icon"></i>
                    </div>
                </button>
                <div class="main-container-auto" v-if="listAutoCompletionComputed">
                    <div class="container-auto">
                        <list-autocompletion
                            v-for="item in listAutoCompletion"
                            :product="item"
                            :key="item.id">
                        </list-autocompletion>
                    </div>
                </div>
            </div>
            </div>
            <div class="listProducts">
                <div class="item header">
                    <div class="checked">Check</div>
                    <div class="name">Nom</div>
                    <div class="price">Prix</div>
                    <div class="delete">Supprimer</div>
                </div>
                <listproducts v-for="item in listProducts" 
                    :product="item" 
                    :key="item.id">
                </listproducts>
            </div>
            <div class="containerTotal">
                <div class="budgetReached" v-if="budgetReached">
                    Le budget a été atteint : {{grandTotal}} / {{budget}}
                </div>
                <div class="total">
                    <div class="ui disabled labeled input right icon ">
                        <div class="ui label">
                            Total :
                        </div>
                        <input class="price" :value="grandTotal" disabled />
                        <i class="euro sign icon"></i>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://unpkg.com/vue"></script>
        <script src="web/js/app.js"></script>
    </body>
</html>
