#app {
    width: 100%;
    max-width: 800px;
    margin:auto;
    display:flex;
    flex-direction: column;
    align-items: center
}

#app .container {
    display:flex;
    flex-direction: column;
    align-items: center
}

#app .container .budget {
    margin-bottom: 15px;
}

#app .container div.ui.labeled.input div{
    text-transform: none !important;
}

#app .container div.ui.labeled.input input {
    width: auto;
}

#app .listProducts {
    display:flex;
    margin-top: 30px;
    flex-direction: column;
    width: 100%;
}

#app .containerTotal {
    width:100%;
    margin-top: 15px;
    display:flex;
    flex-direction: column;
}

#app .containerTotal .budgetReached {
    font-weight: bold;
    color: red;
    font-size: 16px;
    margin-bottom: 7px;
}

#app .containerTotal .total input {
    width: auto;
    max-width: 110px;
}

#app .containerTotal .total .label {
    text-transform: none;
}

#app .container-add-product {
    margin-top: 20px;
}

#app .container-add-product .main-container-auto .container-auto {
    border: solid #C1C1C1 1px;
    margin-top: 5px;
}

#app .container-add-product .main-container-auto .container-auto .itemAuto {
    padding: 10px 0;
    margin: 0 30px;
    border-bottom: solid 1px #EDEDED;
    cursor: pointer;
}

#app .listProducts .item {
    display:flex;
    flex-direction: row;
    border: solid black 1px;
    padding: 10px 20px;
}

#app .listProducts .item.header {
    padding: 20px;
    border: solid black 1px;
    font-weight: bold;
}

#app .listProducts .item > div {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#app .listProducts .item > div.checked {
    position: relative;
}

#app .listProducts .item > div.checked label {
    width: 100%;
    height: 100%;
    position: absolute;
}

#app .listProducts .item.isChecked {
    background-color: #CFFFCE
}

#app .listProducts .item > div.price input {
    width: 100px;
}

#app .listProducts .item > div.price input:after {
    content:"-"
}

#app .listProducts .item > div.delete button {
    background: white !important;
    border: solid 1px red;
    height: 100%;
    color: black;
    font-weight: bold;
    box-shadow: none;
}

#app .icon.trash {
    color: red !important;
    margin: 0;
}

.ui.primary.button, .ui.primary.buttons .button {
    background-color: #2185d0;
    border: solid 1px #2185d0;
    color: #FFF;
}

.ui.primary.button.active, .ui.primary.button:hover, .ui.primary.buttons .active.button, .ui.primary.buttons .button:hover {
    background-color: #2185d0;
    color: #FFF;
}

.ui.labeled.icon.input:not(.left) > .icon {
    margin-right: 0
}